@model HomeViewModel
@{
    ViewData["Title"] = "RJG Blog";
}

@section Styles{
    <!-- JQCLOUD-->
    <link rel="stylesheet" href="vendor/jqcloud2/dist/jqcloud.css">
}

<div class="content-wrapper">
    <div class="row">
        <!-- Blog Content-->
        <div class="col-xl-9">
            <div class="card-columns">
                @*文章卡*@
                @foreach (Core.Blog blog in Model.Blogs)
                {
                    @*文章卡*@
                    <div class="card">
                        @*封面*@
                        <a href="#">
                            <img class="img-fluid" src="@blog.Cover" alt="demo">
                        </a>
                        @*內容*@
                        <div class="card-body">
                            <p class="d-flex">
                                <span>
                                    @*作者*@
                                    <small class="mr-1">
                                        By
                                        <a class="ml-1" href="#">@blog.Author</a>
                                    </small>
                                    @*產出日期*@
                                    <small class="mr-1">@blog.CreateDate</small>
                                </span>
                                @*留言數*@
                                <span class="ml-auto">
                                    <small>
                                        <strong>@blog.Comments</strong>
                                        <span>Comments</span>
                                    </small>
                                </span>
                            </p>
                            @*標題*@
                            <h4>
                                <a href="#">@blog.Title</a>
                            </h4>
                            @*部分內文*@
                            <p>@blog.PartialContent</p>
                        </div>
                    </div>
                }
                <div class="card">
                    @*封面*@
                    <a href="#">
                        <img class="img-fluid" src="img/bg1.jpg" alt="demo">
                    </a>
                    @*內容*@
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                @*作者*@
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Erica Castro</a>
                                </small>
                                @*產出日期*@
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            @*留言數*@
                            <span class="ml-auto">
                                <small>
                                    <strong>56</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        @*標題*@
                        <h4>
                            <a href="#">Trip down the river</a>
                        </h4>
                        @*部分內文*@
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body bg-primary">
                        <h3 class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Erica Castro</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>56</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg10.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Erin Clark</a>
                                </small>
                                <small class="mr-1">Apr 13, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>1000</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">New camera</a>
                        </h4>
                        <p>
                            Nullam posuere euismod volutpat. Quisque in ligula eget libero tristique varius sed euismod dolor. Sed ultrices, diam varius pellentesque porta, nulla neque auctor elit, quis tempus orci massa eget odio. Duis eleifend elementum
                            commodo. Donec volutpat tristique laoreet. Cras vitae turpis enim, eget malesuada erat. Suspendisse quam leo, gravida a ullamcorper a, interdum id odio. Nullam eu lacus in nibh rutrum ornare at eget tellus.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg2.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Erica Castro</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>56</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">Reviewing latests phones</a>
                        </h4>
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg8.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Allen Stephens</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>5600</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">Workspace showcase</a>
                        </h4>
                        <p>Aenean iaculis diam lectus. Morbi quis purus velit. Maecenas tincidunt tempus sapien id ultrices. Vivamus fermentum libero vel felis aliquet interdum.</p>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg3.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Erica Castro</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>56</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">Incredible panoramic</a>
                        </h4>
                        <p>Aenean in sollicitudin velit. Nam sem magna, tristique non facilisis a, porta ut elit. Aliquam luctus nulla in justo euismod blandit. Aliquam condimentum enim a risus cursus blandit.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body bg-purple">
                        <h3 class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    </div>
                    <div class="card-body">
                        <p class="d-flex m-0">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Ava Chavez</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>999</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg4.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Danny Ford</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>1000</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">Sunset in the forest</a>
                        </h4>
                    </div>
                </div>
                <div class="card">
                    <a href="#">
                        <img class="img-fluid" src="img/bg5.jpg" alt="demo">
                    </a>
                    <div class="card-body">
                        <p class="d-flex">
                            <span>
                                <small class="mr-1">
                                    By
                                    <a class="ml-1" href="#">Danny Ford</a>
                                </small>
                                <small class="mr-1">May 03, 2015</small>
                            </span>
                            <span class="ml-auto">
                                <small>
                                    <strong>1000</strong>
                                    <span>Comments</span>
                                </small>
                            </span>
                        </p>
                        <h4>
                            <a href="#">Tech review</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Sidebar-->
        <div class="col-xl-3">
            <!-- Search-->
            <div class="card card-default">
                <div class="card-header">搜尋</div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="input-group">
                            @*<input class="form-control" type="text" placeholder="Search for...">*@
                            @Html.TextBoxFor(x => x.SearchKeyWord, null, new { @class = "form-control", @placeholder = "搜尋..." })
                            <span class="input-group-btn">
                                <button id="btnSearch" class="btn btn-secondary" type="button">
                                    <em class="fa fa-search"></em>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Categories-->
            <div class="card card-default">
                <div class="card-header">分類</div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <em class="fa fa-angle-right fa-fw"></em>Smartphones
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-angle-right fa-fw"></em>Mobiles
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-angle-right fa-fw"></em>Tech
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-angle-right fa-fw"></em>Inpiration
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em class="fa fa-angle-right fa-fw"></em>Workspace
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Tag Cloud-->
            <div class="card card-default">
                <div class="card-header">標籤雲</div>
                <div class="card-body">
                    <div class="mw-100 jqcloud" id="jqcloud"></div>
                </div>
            </div>
            <!-- Ads-->
            <div class="card card-default">
                <div class="card-header">廣告</div>
                <div class="card-body">
                    <a href="#">
                        <img class="img-fluid img-thumbnail" src="img/mockup.png" alt="demo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- JQCLOUD-->
    <script src="vendor/jqcloud2/dist/jqcloud.js"></script>
    <script>
    @*var words = [
        { text: "Lorem", weight: 13, link: 'http://github.com/mistic100/jQCloud' },
        { text: "Ipsum", weight: 10.5, link: 'http://www.strangeplanet.fr' },
        { text: "Dolor", weight: 9.4, link: 'http://piwigo.org' },
        /* ... */
    ];*@

    var words = [];

    $.ajax({
        type: 'get',
        url: '@Url.Action("GetTagClouds", null)',
        success: function (result) {
            result.data.forEach(function (tagCloud) {
                words.push({ text: tagCloud.name, weight: tagCloud.weight })
            })
            $('#jqcloud').jQCloud(words, {
                width: 240,
                height: 200,
                steps: result.data.length
            });
        }
    })

    $('#btnSearch').click(function () {
        //WarmAlert('test1');
        //SuccessAlert('test2');
        //ConfirmAlert('是否刪除?','刪除成功');
        showMask();
        setTimeout(hideMask, 2500);
    })
    </script>
}