@model Web.Areas.Back.Models.Role.RoleEditViewModel
@{
    string title = string.Empty;
    @if (Model.ActionType == Core.Enum.ActionType.Create)
        title = "新增";
    else
        title = "編輯";
    ViewData["Title"] = title;
}

<!-- gijgo-->
<link href="~/vendor/gijgo-combined-1.9.13/css/gijgo.css" rel="stylesheet" />

<div class="card card-default">
    @*<div class="card-header">編輯</div>*@
    <div class="card-body">
        <form id="postForm">
            <div class="form-group">
                @Html.TextBoxFor(x => x.RoleName, new { @placeholder = "角色名稱", @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="form-row">角色權限</label>
                <div>
                    <div id="tree">

                    </div>
                </div>
            </div>

            <a href="@Url.Action("Index", "Role", new { @area = "Back" })" class="btn btn-inverse">
                <em class="fas fa-undo"></em>
                返回
            </a>
            <button type="submit" id="btnConfirm" class="btn btn-green">
                <em class="fas fa-check"></em>
                確認
            </button>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        var treeView

        $(document).ready(function () {
            getMenuTree();
            InitailValidation();
        });

        function InitialTree(tree) {
            treeView = $('#tree').tree({
                uiLibrary: 'materialdesign',
                dataSource: tree,
                primaryKey: 'id',
                checkboxes: true
            });
        }

        function InitailValidation() {
            $("#postForm").validate({
                rules: {
                    RoleName: {
                        required: true,
                        maxlength: 10
                    }
                },
                messages: {
                    RoleName: {
                        required: "此欄位為必填",
                        maxlength: "此欄位不可超過10字"
                    }
                },
                submitHandler: function (form) {
                    AddRole();
                },
            })
        }

        function getMenuTree() {

            var actionType = '@Model.ActionType'

            @{ string roleName = Model.RoleName != null ? Model.RoleName : string.Empty ;  }
            var roleName = '@roleName'


            $.ajax({
                url: '@Url.Action("GetMenuTreeList","Role",new { @area = "Back" })',
                data: { roleName: roleName },
                method: 'get',
                dataType:'json',
                success: function (result) {
                    console.log(result.data);
                    InitialTree(result.data);
                },
                error: function () {
                    WarmAlert('取得失敗')
                }
            })
        }

        function AddRole() {

            var viewmodel = {
                ActionType: '@Model.ActionType',
                RoleName: $("#" + '@Html.IdFor(x=>x.RoleName)').val(),
                CheckMenuId: treeView.getCheckedNodes()
            }

            $.ajax({
                url: '@Url.Action("RoleAdd","Role",new { @area = "Back" })',
                method: 'post',
                data: viewmodel,
                success: function (result) {
                    if (result.data) {
                        window.SuccessAlert('新增' + viewmodel.RoleName + '成功');
                        window.location.href = '@Url.Action("Index", "Role",new { @area = "Back"})';
                    }
                    else {
                        window.WarmAlert(result.message);
                    }
                }
            })
        }
    </script>
}